@font-face {
    font-family: 'DINLightAlternateRegular';
    src: url('fonts/DINLightAlternateRegular.eot');
    src: url('fonts/DINLightAlternateRegular.eot') format('embedded-opentype'),
         url('fonts/DINLightAlternateRegular.woff2') format('woff2'),
         url('fonts/DINLightAlternateRegular.woff') format('woff'),
         url('fonts/DINLightAlternateRegular.ttf') format('truetype'),
         url('fonts/DINLightAlternateRegular.svg#DINLightAlternateRegular') format('svg');
}
@font-face {
    font-family: 'DINCyrRegular';
    src: url('fonts/DINCyrRegular.eot');
    src: url('fonts/DINCyrRegular.eot') format('embedded-opentype'),
         url('fonts/DINCyrRegular.woff2') format('woff2'),
         url('fonts/DINCyrRegular.woff') format('woff'),
         url('fonts/DINCyrRegular.ttf') format('truetype'),
         url('fonts/DINCyrRegular.svg#DINCyrRegular') format('svg');
}

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, img {
	display: block;
}
body {
	font-family:'Verdana','DINLightAlternateRegular';
	background-image: url(../gallery/bg-body.jpg);
	width: 100%;
	height: 100%;
}
h1,h2,a {
	font-family: 'DINLightAlternateRegular';
	color: rgb( 54, 54, 54 );
}
h1,h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 25px;
	color: #707070;
}
p {
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 15px;
	color: #363636;
}
a {
	color: rgb( 112, 112, 112 );
}
strong {
	font-weight: bold;
}
.wrapper {
	min-width: 1024px;
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
}
.header {
	position: relative;
	margin-bottom: 50px;
}
.logo,
.phone,
.phone span,
.footer_block ,
.footer_block span{
	display: block;
	color: #707070;
}
.phone {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 50px;
}
.phone a {
	font-size: 30px;
	line-height: 26px;
	font-weight: normal;
	text-decoration: none;
}
.phone span {
	font-size: 18px;
}
.logo {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 50px;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle {
	min-height: 100%;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.container {
	padding-bottom: 100px;
}
.content {
	margin-bottom: 30px;
}
.content,
.menulist,
.article {
	padding: 0 0 0 250px;
}
.menulist {
	padding-bottom: 50px;
	min-width: 100%;
}
.list {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin: 0 50px 15px 0;
}
.list-img div {
	display: inline-block;
	margin-bottom: 20px;
}
.img-box {
	position: relative;
	height: 78px;
	width: 78px;
	margin-rihgt:10px;
	background: #363636;
}
.img-box img {
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	max-height: 100%;
	max-width: 100%;
	margin: auto ;
}
.name {
	width:160px;
	vertical-align: top;
	white-space: pre-line;
	font-size: 11px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
}
.left-sidebar {
	font-size: 40px;
	line-height: 38px;
	text-transform: uppercase;
}
.left-sidebar a:hover {
	background: #717171;
	color: #ffffff;
}
.left-sidebar a {
	text-decoration: none;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1024px;
	max-width: 1200px;
	height: 100px;
	position: relative;
}
.footer {
	border-top: 1px solid rgba(171, 171, 171, 0.5); 
	line-height: 1.364;
}
.footer div {
	display: inline-block;
	vertical-align: top;
	margin-top: -60px;
}
.footer_link {
	margin-left: 20px;
}

