@font-face
{
	font-style: normal;
	font-weight: normal;
	font-family: "DINCyr";
	src: url("fonts/dincyr-regular.eot?#iefix") format('embedded-opentype'), 
		url("fonts/dincyr-regular.woff") format("truetype"), 
		url("fonts/dincyr-regular.otf") format("opentype"), 
		url("fonts/dincyr-regular.ttf") format("truetype");
}

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: Verdana,Tahoma,sans-serif;
	font-size: 11px;
	background-image: url(../gallery/bg-body.jpg);
	width: 100%;
	height: 100%;
	color: #363636;
}

h1,h2 {
	display: block;
	font-family: DINCyr, Arial, Tahoma, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 25px;
	padding: 0;
	color: #707070;
}

a {
	color: rgb( 112, 112, 112 );
	text-decoration: underline;
}
a:hover
{
	text-decoration: none;
}
strong {
	font-weight: bold;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 200px;
}
.header {
	position: relative;
	display: block;
}
.header .logo {
	display: block;
	position: absolute;
	top: 44px;
	left: 0;
}
.header .logo img {
	width: 101px;
	height: auto;
}

.header .phone {
	position: absolute;
	right: 0;
	top: 58px;
	font-size: 30px;
	font-family: DINCyr, Arial, Tahoma, sans-serif;
	line-height: 26px;
	text-decoration: none;
	color: #707070;
}

.phone-code {
	display: block;
	font-size: 18px;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle {
	padding: 0;
	padding-bottom: 150px;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 250px;
}
article p {
	margin-bottom: 15px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
}
/* Main menu
-----------------------------------------------------------------------------*/
.mainmenu {
	font-family: DINCyr, Arial, Tahoma, sans-serif;
	font-size: 40px;
	line-height: 38px;
	color: #363636;
	text-transform: uppercase;
}
.menu-list {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-item {
	display: block;
	margin: 0;
	padding: 0;
}

.menu-item a {
	display: inline;
	color: inherit;
	text-decoration: none;
}

.menu-item a:hover {
	color: #fff;
	background: #707070;
}
/* Teams

-----------------------------------------------------------------------------*/
.teams {
	display: block;
	font-size: 0px;
}

.teams .team_group {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	width: 230px;
}
.teams .team-group:last-child {
	margin-right: 0;
}
.teams .team_members {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	white-space: normal;
}
.teams .member {
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 0 90px;
	min-height: 78px;
}
.teams .photo {
	width: 78px;
	height: 78px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	background: #363636;
}
.teams .photo img {
	position: absolute;
	left: 50%;
	top: 0;
	display: block;
	width: auto;
	height: 100%;
	transform: translateX(-50%);
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -101px auto 0;
	width: 1000px;
	height: 101px;
	position: relative;
}
.footer {
	display: block;
	border-top: 1px solid rgba(171, 171, 171, 0.5); 
	line-height: 1.364;
	padding-top: 40px;
	box-sizing: border-box;
	color: #707070;
}
.footer .copyright {
	display: inline-block;
	vertical-align: top;
	margin-right: 17px;

}
.footer .footerlink {
	display: inline-block;
	vertical-align: top;
}